body {
	position: relative;
}

/*@media screen and (max-width: 992) {*/
	#ChickenSection {
		float: left;
		margin-right: 3%;
		margin-left: 1%;
		width: 30%
	}
	#BeefSection {
		float: left;
		/*margin-right: 0%;
		margin-left: 0%;*/
		width: 30%
	}
	#SushiSection {
		float: right;
		margin-right: 1%;
		/*margin-left: 0%;*/
		width: 30%;
	}
/*}*/

p {
	padding-top: 30px;
}

#chicken {
	background: pink;
}

#beef {
	background: red;
}

#sushi {
	background: yellow;
}

.MenuSection {
	margin-top: 25px;
	background: grey;
	position: relative;
	border-style: solid;
	border-color: black;
}

h1 {
	text-align: center;
}

h2{
	text-align: center;
	position: absolute;
	margin: 0px;
	right: 0px;
	top: 0px;
	width: 33%;
	border-left: solid;
	border-bottom: solid;
	border-color: black;
}

@media (max-width: 991px) {
	#ChickenSection {
		float: left;
		margin-left: 3.5%;
		width: 44%
		}
	#BeefSection {
		float: right;
		margin-right: 3.5%;
		width: 44%
	}
	#SushiSection {
		float: right;
		width: 92%;
		margin-right: 3.5%;
		margin-left: 3.5%;
		
	}
}

@media (max-width: 767px) {

	#ChickenSection, #BeefSection, #SushiSection {
		float: none;
		margin-right: 3.5%;
		margin-left: 3.5%;
		width: 92%
	}

	/*
	.MenuSection {
		float: none;
		margin-right: 3.5%;
		margin-left: 3.5%;
	}*/
}